:root{

  --brown-color: #5f4633;
  --pink-color: #fbd5e5;
  --black-color: #000000;
  --white-color: #fefefe;
  --font-1: 'bondie-regular', sans-serif;
  --font-2: 'maiandra-gd-regular', sans-serif;
  --font-3: 'houston-regular-regular', sans-serif;
  --font-4: 'brengkelregular-regular', sans-serif;
  --xxl:40px;
  --grande:22px;
  --normal:18px;
  --chica:12px;
  --tiny:2px;
  --space:10px;
  --space-2:20px;
}

/* -------------------------------------------  */
html, body{
  margin:0;
  padding: 0;
  color: var(--black-color);
}

p{
  font-size: var(--normal);
  font-family: var(--font-4);
}

h1{
  font-family: 'Bebas Neue', cursive;
  
}

h3{
  font-family: 'Red Hat Text', sans-serif;
}

h6{
  font-family: 'Oswald', sans-serif;
}

nav{
  background-color: var(--pink-color);
}
nav ul {
  display: flex;
}

nav ul li{
  padding-right: 20px;
  list-style: none;
}

hr{
  opacity: 1;
}

/* ------------------------------------------- Extras */
.index_img_0 {
  height: 500px;
  width: 500px;
}
.index_img_1 {
  height: 300px;
  width: 300px;
}



.circulo {
  border-radius: 45%;
}
.bordes{
  border:1px solid;
  border-color: #000000;
}
.bordes_D{
  border-right:1px solid;
}
.bordes_I{
  border-left:1px solid;
}
.bordes_Ar{
  border-top:1px solid;
}
.bordes_Ab{
  border-bottom:1px solid;
}
.nav_img {
  height: 40px;
  width: 40px;
  margin-left: 15px;
}

.ofertas{
  background-color: var(--brown-color);
}
.box {
  box-sizing: border-box;
  border: 5px solid transparent;
  background-clip:padding-box;
}
.responsive {
  max-width: 100%;
  height: auto;
}

.categorias {
  height: 175px;
  width: 175px;
  margin: 2,5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.categoria_producto {
  height: 100px;
  width: 100px;
  margin: 2,5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropdown_size_xl {
  height: 100px;
  width: 100px;
}
.producto {
  height: 400px;
  width: 400px;
  margin: 2,5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bg_none {
  background-color: #fefefe;
}
.bg_marron {
  background-color: var(--brown-color);
}
.bg_rosa {
  background-color: var(--pink-color);
}

.img_carrousel{
  height: 550px;
  width: 550px;
  margin: 5px,5px;

}
/* ------------------------------------------- Footer */
footer{
  font-family: var(--font-4);
  display: flex;
  justify-content: space-between;
  font-size: var(--chica);
  background-color: var(--black-color);
  padding: var(--space);
  color: var(--white-color);
}